body {
    margin: 0;
    margin-bottom: 10rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #a16fb0;
    color: #e9daeb;
}

.title {
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    margin-top: .03em;
    margin-bottom: .43em;
}

.noList {
    text-align: center;
    font-size: calc(3vw + 2rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    margin-top: .53em;
    margin-bottom: .43em;
}

.all-lists {
    margin-bottom: 7rem;
    margin-left: 3rem;
}

.lists {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1rem;
} 

.list-name {
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.list-name:hover {
    transform: scale(1.1);
}

form {
    display: flex;
}

input {
    width: 60%;
    padding-right: 0;
}

.new-list,
.new-task,
.newListBtn, 
.newTaskBtn,
.deleteBtn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.new-list,
.new-task,
.newListBtn, 
.newTaskBtn {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.25em;
    transition: transform 150ms ease-in-out;
}

.newListBtn:hover, 
.newTaskBtn:hover {
    transform: scale(1.5);
}

.deleteBtn {
    font-weight: 600;
    margin-right: 5%;
    margin-top: 1rem;
}

.deleteBtn:hover {
    color: gainsboro
}

.new-list,
.new-task {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    transition: border-bottom 50ms ease-in-out;
}

.new-list:hover:focus,
.new-task:hover:focus {
    border-bottom-width: 3px;
}

.new-list:hover:focus::placeholder, 
.new-task:hover:focus::placeholder {
    opacity: 0.4;
}

.newListBtn {
    font-size: 1.2rem;
}

.newTaskBtn {
    margin-bottom: 0;
}

.active-list {
    font-weight: 700;
}
.todo-list {
    margin-right: 2rem;
    background: whitesmoke;
    color: #935ba4;
    margin-left: 4.23em;
}

.todo-header {
    padding: 2rem;
    background: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-title {
    margin: 0 1em 0 0;
}

.task-count {
    margin: 0;
    font-size: 1rem;
}

.todo-body {
    padding: 2rem;
    position: relative;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: transform 250ms ease-in-out;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.2;
}

.task {
    position: relative;
    margin-bottom: 1.2em;
    transition: transform 250ms ease-in-out;
}

.task label:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.custom-checkbox {
    display: inline-block;
    width: 0.55em;
    height: 0.55em;
    margin-right: 0.4em;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
}

.task:hover .custom-checkbox, 
.checkbox:focus + label .custom-checkbox {
    transform: scale(1.2);
    color: gray;
}

.checkbox:checked + label .custom-checkbox {
    background: gray;
    border-color: gray;
    box-shadow: inset 0 0 0px 2px whitesmoke;
    transform: scale(.5);
}

.checkbox:checked + label {
    opacity: 0.5;
    transform: scale(.95);
}

.task label::after {
    content: "";
    position: absolute;
    top: .7em;
    right: 0;
    left: 1em;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 100ms ease-in-out;
}

.checkbox:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}

.delete {
    display: flex;
    justify-content: left;
    position: absolute;
    left: 0;
    bottom: -35px;
    color: whitesmoke;
    width: 100%;
}

@media all and (max-width: 500px) {
    .all-lists {
        margin-top: 4rem;
        margin-right: 0;
        padding-right: 0;
    }

    .todo-list {
        margin-left: 0;
        margin-bottom: 5rem;
    }
    .deleteBtn {
        font-size: 1rem;
    }
}

@media all and (max-width: 350px) {
    .deleteBtn {
        font-size: 1rem;
    }
}